@{
    ViewData["Title"] = "Search";
}

<div class="text-center">
    <div>
        <h1 class="display-4">Web Search23.0</h1>
        <input data-bind="textInput: userQuery"/>
        <button id="search-button" type="button" class="btn btn-primary" data-bind="click: search">SEARCH</button>
    </div>
    <div class="align-content-center">
        <h4>Number of hits: <span data-bind="text: queryMatches"></span> </h4>
        <h4>Time taken in: <span data-bind="text: queryTime"></span> </h4>
        <ul data-role="listview" data-bind="foreach: { data: returnedQuery, as: 'listItem'}">
            <li><a href="#" data-bind="text: listItem.path"></a></li>
        </ul>
    </div>

</div>